body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

h3 {
  font-weight: lighter;
}

.App {
  text-align: center;
  padding: 20px;
  margin-top: 0;
  min-height: 100vh;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.content {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 100%;
  max-width: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-height: 664px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  overflow: auto;
}

:root {
  --background-color: #fff;
  --text-color: #333;
  --button-bg-color: #007bff;
  --button-text-color: #fff;
  --button-hover-bg-color: #0069d9;
  --assistant-message-bg-color: #e5e5e5;
  --user-message-bg-color: #b9fcb8;
  --sidebar-bg-color: #f9f9f9;
  --sidebar-border-right: 1px solid #999;
  --navbar-background-color: #fff;
  --navbar-border-bottom: 1px solid #999;
  --icon-color: #000;
  --modal-background-color: #fff;
  --modal-text-color: #333;
  --modal-overlay-background: rgba(0, 0, 0, 0.5);
  --img-filter: none;
  --delete-bg-color: #ff4444;
  --delete-text-color: #fff;
  --delete-hover-bg-color: #cc0000;
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #f5f5f5;
  --button-bg-color: #375a7f;
  --button-text-color: #f5f5f5;
  --button-hover-bg-color: #2c4d6f;
  --assistant-message-bg-color: #424242;
  --user-message-bg-color: #435763;
  --sidebar-bg-color: #1a1a1a;
  --sidebar-border-right: 1px solid #999;
  --navbar-border-bottom: 1px solid #999;
  --icon-color: #fff;
  --modal-background-color: #2c2c2c;
  --modal-text-color: #f5f5f5;
  --modal-overlay-background: rgba(255, 255, 255, 0.2);
  --img-filter: invert(1);
  --delete-bg-color: #ff4444;
  --delete-text-color: #fff;
  --delete-hover-bg-color: #cc0000;
}

.send-button {
  padding: 10px 15px;
  border: 1px solid var(--button-bg-color);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.send-button:hover {
  background-color: var(--button-hover-bg-color);
}

.messages-container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg-color);
  border-radius: 8px;
  padding: 20px;
  padding-top: 70px;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  width: 100%;
}

.message {
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  max-width: 60%;
  width: fit-content;
}

.message pre {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
}

.message.user {
  background-color: var(--user-message-bg-color);
  align-self: flex-end;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message.assistant {
  background-color: var(--assistant-message-bg-color);
  align-self: flex-start;
}

.message:last-child {
  margin-bottom: 0;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

input[type="text"]:focus {
  border-color: var(--button-bg-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="password"] {
  flex-grow: 1;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

input[type="password"]:focus {
  border-color: var(--button-bg-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

[data-theme="dark"] input[type="text"] {
  background-color: #333;
  color: #f5f5f5;
  border-color: #555;
}

.input-button-container {
  display: flex;
  width: 80%;
  max-width: 400px;
  margin: 10px auto;
}

[data-theme="dark"] button {
  border-color: var(--button-hover-bg-color);
}

.navbar {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: var(--navbar-border-bottom);
  background-color: var(--background-color);
}

.navbar-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 0;
}

.hamburger-menu {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger-menu svg {
  stroke: var(--icon-color);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  fill: var(--text-color);
  width: 24px;
  height: 24px;
}

.theme-toggle-icon {
  cursor: pointer;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: fixed;
  top: 60px;
  z-index: 100;
  left: -300px;
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  background-color: var(--sidebar-bg-color);
  border-right: var(--sidebar-border-right);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebar.show {
  left: 0;
}

.sidebar.show+.content {
  width: calc(100% - 250px);
  margin-left: auto;
  margin-right: auto;
}

.sidebar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: var(--button-hover-bg-color);
}

.logout-button:hover {
  background-color: var(--button-hover-bg-color);
}

.login-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.new-chat-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-sidebar-button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--button-bg-color);
  cursor: pointer;
}

.register-sidebar-button:hover {
  color: var(--text-color);
}

.sidebar hr {
  border: 0;
  height: 1px;
  background-color: #999;
  margin: 20px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.modal-content {
  background-color: var(--modal-background-color);
  color: var(--modal-text-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal button {
  width: 175px;
  padding: 15px;
  margin-right: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal button:last-child {
  margin-right: 0;
}

.modal button:hover {
  background-color: var(--button-hover-bg-color);
}

.message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 400;
}

.message-popup p {
  margin: 0;
  margin-bottom: 10px;
}

.message-popup button:hover {
  background-color: var(--button-hover-bg-color);
}

.message-popup button {
  width: 200px;
  padding: 15px;
  margin-right: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-modal-button {
  display: flex;
  justify-content: space-between;
}

.password-requirements-list {
  margin: 0;
  padding: 5px;
  list-style: none;
}

.password-requirements-list li {
  text-align: left;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 2px;
}

.history-item {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  width: 100%;
  text-align: center;
}

.history-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 100%;
  height: 50%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: translateX(-50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.history-item:hover {
  transform: translateY(-5px);
}

.history-item:active {
  background-color: var(--button-hover-bg-color);
}

.history-container {
  display: flex;
  align-items: center;
}

.history-item, .history-item-menu {
  align-items: center;
}

.history-item-menu {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  margin-left: 10px;
}

.history-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: none;
  border: none;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.history-dropdown button {
  padding: 10px 15px;
  border: none;
  background-color: var(--delete-bg-color);
  color: var(--delete-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.history-dropdown button:hover {
  background-color: var(--delete-hover-bg-color);
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.3);
}


.w-6 {
  width: 24px;
}

.h-6 {
  height: 24px;
}

[data-theme="dark"] input[type="text"]:focus {
  border-color: var(--button-hover-bg-color);
  box-shadow: 0 0 5px rgba(55, 90, 127, 0.5);
}

.footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #212529;
  text-align: center;
  padding: 0px;
  height: 35px;
}

.footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer a img {
  max-height: 70%;
  filter: var(--img-filter);
}

[data-theme="dark"] .footer {
  background-color: var(--button-hover-bg-color);
  color: #fff;
}

[data-theme="dark"] .footer a {
  color: inherit;
}

.message-enter {
  opacity: 0;
  transform: translateY(100%);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}